<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Table_gestion_poids</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
		<th>Valeur</th>
		<th>Valeur timbre</th>
      </tr>
    </thead>
    <tbody>
	{% for poids in t_poids %}  
      <tr>
		<td>{{poids.valmin}}</td>
		<td>{{poids.valtimbre}}</td>
        <td><a href="delete/{{ poids.valmin|floatformat:"0" }}">supprimer</a></td>
        <td><a href="modif/{{ poids.valmin|floatformat:"0" }}">modifier</a></td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>

<p>
    <a href="ajout/">add value<a/>
<p>

</body>
</html>