{% extends 'base.html' %}

{% block content %}

<div class="col-md-12">
<form method="POST" class="post-form" action="/updateConditionement/{{tconditionvement.idcondit_id}}">
        {% csrf_token %}
        <h1>mise ajour des donne embalage</h1>
        <div class="mb-3">
          <label >embalage ID:</label>
          <input type="text" class="form-control" name="idcondit_id" id="id_idcondit_id" value="{{tconditionvement.idcondit_id}}"
        </div>
        <label  >NOM </label>
        <input type="text" class="form-control" name="libcondit" id="id_libcondit" value="{{tconditionvement.libcondit}}"
        <div class="mb-3">
          <label  >POIDS</label>
          <input type="text" class="form-control" name="poidscondit" id="id_poidscondit" value="{{tconditionvement.poidscondit}}"
        </div>
        <div class="mb-3">
            <label  >TARIF</label>
            <input type="text" class="form-control" name="prixcond" id="id_prixcond" value="{{tconditionvement.prixcond}}"
          </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
      </form>
    
</form>

</div>


{% endblock content %}




